/* mobile */
@media (max-width: 739px) {
    .mbnone {
        display: none;
    }
    #navbar {
        display: none;
    }
    #content {
        position: relative;
        width: 100%;
        top: 70px;
        margin: 0;
    }
    #header {
        justify-content: space-around;
        background-color: #1d1529;
        width: 100%;
        align-items: center;
        position: fixed;
        z-index: 1000;
        display: flex;
        top: 0;
        right: 0;
        left: 0;
        height: 70px;
        color: #fff;
    }
    .box-content {
        margin: 0 8px;
        text-align: justify;
    }
    .list-album {
        display: none;
    }
    .info-song h2:nth-child(2){
        display: none;
    }
    .info-songs {
        display: flex;
        justify-content: space-around;
    }
    .listsongs {
        display: flex;
        justify-content: space-between;
    }

    .list-name, .list-album, .list-time {
        width: inherit;
    }
    #player {
        bottom: 0;
        width: 100%;
        height: 25px;
        color: #fff;
        position: fixed;
        background-color: #130c1c;
        flex-direction: column;
        display: flex;
        transition: height 0.7s ease;
    }
    
    #view-play {
        width: 180px;
        height: 8px;
        background-color: #fff;
        margin: 10px 18px;
        border-radius: 8px;
    }
    .player__img {
        flex-direction: column;
        display: flex;
        text-align: center;
    }
    .player__img, .nav__remote, .nav-option {
        width: initial;
    }

    #imgPlayer {
        width: 160px;
        height: 160px;
        margin: 12px 18px;
    }
    #input-update {
        display: flex;
        align-items: center;
        width: 260px;
        height: 20px;
        margin: 0 6px;
    }
    .option-volue {
        width: 260px;
    }
    #box-volume {
        height: 3px;
        width: 260px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .option-volue i {
        font-size: 15px;
        padding: 0 6px 0 0;
        border-radius: 50%;
    }
    #input-volume {
        opacity: 0;
        width: 230px;
    }
    .info {
        display: flex;
    }
    .nav__remote {
        margin-bottom: 12px;
    }
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .-mobile {
        display: none;
    }
    #player {
        height: 90px !important;
    }
    .private {
        margin-bottom: 100px !important;
    }
}

@media (min-width: 1023px) {
    .-mobile {
        display: none;
    }
    #player {
        height: 90px !important;
    }
    .private {
        margin-bottom: 100px !important;
    }
}